.watcher-container {
    display: flex;
    gap: 20px;
    padding:10px;
    justify-content: center;
    flex-wrap: wrap;
}
.watcher-card {
    background:white;
    padding:10px;
    height:200px;
    display:flex;
    flex-direction:column;
    width:230px;
    
}
.waterImg {
    background-color: blue;
    width:200px;
    height: 200px;
}
.watcher-hr {
    height:5px;
    width:90%;
    background-color: gray;
}
.watcher-container .buttons-container{
    text-align: center;
}
.main-watcher-container {
    position: relative;
    width:100%;
    height:auto;
    background:#e6bfad;
    
}
.main-watcher-container-child {
    display: flex;
    gap: 20px;
    padding:10px;
    justify-content: center;
    flex-wrap: wrap;
    
}
.watcher-dialog {

}
.watcher-add-section {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    width:100%;
}
.modal-backdrop {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex; /* To easily center the content */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal {
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 80px auto; /* This centers the element within its positioned parent */
        width: 350px; /* Or max-width */
        max-height: 300px; /* Or max-height */
        background-color: white;
        overflow-y:auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1001;
}
.modal .buttonX {
        position: absolute;
    z-index: 1004;
    top: 0;
    right: 0;
}

.watcher-add-section table {
    background-color: unset; 
    color: unset;
    border-collapse: unset; 
    border-spacing: unset; 
    padding: unset;
}
.modal {
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 80px auto; /* This centers the element within its positioned parent */
        width: 350px; /* Or max-width */
        max-height: 300px; /* Or max-height */
        background-color: white;
        overflow-y:auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1001;
}
.modal .buttonX {
        position: absolute;
    z-index: 1004;
    top: 0;
    right: 0;
}
.d-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}