################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/react-starter/CopilotIndices/17.14.995.13737
/.vs/react-starter/FileContentIndex
*.wsuo
/.vs/react-starter/CopilotIndices/0.2.1653.9816
/.vs/slnx.sqlite
